<%- include('partials/header') %> 
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<a href="/auth/github" class="btn btn-primary btn-lg join-beta">Authorize with Github</a>
<%- include('partials/footer') %> 